<section class="todoapp">
	<header class="header">
		<input class="new-todo" placeholder="What needs to be done?"
				 #todo [(ngModel)]="newTodo" (keyup.enter)="create(todo.value)">
	</header>
	<app-todos-list [todos]="todos"
						 (toggleAll)="toggleAll($event)"
						 (toggle)="toggle($event)"
						 (update)="update($event)"
						 (delete)="delete($event)"></app-todos-list>
	<footer *ngIf="todos.length > 0" class="footer">
		<span class="todo-count"><strong>{{remaining}}</strong> item{{remaining !== 1 ? 's' : ''}} left</span>

		<ul class="filters">
			<li><a [routerLink]="['']" [ngClass]="{'selected': filter == 'SHOW_ALL'}">All</a></li>
			<li><a [routerLink]="['', 'active']" [ngClass]="{'selected': filter == 'SHOW_ACTIVE'}">Active</a></li>
			<li><a [routerLink]="['', 'completed']" [ngClass]="{'selected': filter == 'SHOW_COMPLETED'}">Completed</a>
			</li>
		</ul>

		<button *ngIf="completed > 0" class="clear-completed" (click)="clearCompleted()">Clear completed</button>
	</footer>
</section>
<footer class="info">
	<p>Double-click to edit a todo</p>
	<p>Based on <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
