.container {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.container nav {
	width: 150px;
	padding-top: 0;
	background-color: #fff;
	margin-right: 10px;
	height: 100%;
	overflow-y: scroll;
}

.container svg {
	flex: 1;
	background-color: #fff;
}
